.banner{
    padding-top: 3rem ;
}

.banner-container{
    display: flex;
    height: 100vh;
}

.banner-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.left-item {
    display: flex;
    align-items: center;
}

.right-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-sample-container {
    border-radius: 1rem;
    width: 17rem;
    height: 22rem;

}


.banner-image-container{
    background: transparent;
}

.banner-image-container img{
    height: 100%;
    width: 100%;
}

@media (max-width: 640px){
    .banner-grid-container{
        grid-template-columns: 1fr;
        grid-gap: 0rem;
    }
    .left-item{
        align-items: flex-start;
        order: 2;
    }
    .right-item{
        order: 1;
    }
}

.banner-title{
    margin-top: 2rem;
}

.banner-sub-title{
    margin-top: 2rem;
}

/*ourPromise*/
.ourPromise-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    padding: 7rem 1rem;
}

.ourPromise-grid-item{
    display: flex;
    align-items: flex-start;
    gap: 1rem
}

.ourPromise-icon{
    border-radius: 50px;
    height: 4rem;
    width: 4rem;
}

.Promise-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


@media (max-width: 960px) {
    .ourPromise-grid-container {
        grid-template-columns: 1fr;
    }
}



/*Home Product Show Component*/
.homePS-title{
    margin-top: 8rem;
}

.PS-carousel-grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 32rem;
    margin-top: 6rem;
    grid-gap: 1rem;
    padding: 0 1rem;
}

.PS-intro{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
}

.PS-product-grid-container{
    overflow: hidden;
}

.PS-product-container{
    height: 100%;

}

.carrousel{
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
    min-width: 20rem;
    border-radius: 15px;
    background: var(--light-gray);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 640px) {
    .PS-carousel-grid-container {
        grid-template-columns: 1fr;
    }
}