.footer{
  min-height: 70vh;
  padding: 5rem 2rem;
}


.quick-links-items{
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px){
  .footer{
    min-height: 100vh;
    padding: 10rem 2rem;
  }
}