*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quattrocento', sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

.App{
  min-height: 300vh;
}

/*root*/

:root{

  --dark-green: #13361c;
  --olive-green: #212717;
  --kelly-green: #6fb400;
  --harvest-gold: #E09200;
  --platinum: #dfdfdf;
  --night-black: #161616;
  --beige: #f5f5dc;

  --light-font-weight: 300;
  --regular-font-weight: 400;
  --bold-font-weight: 700;

  --title-font-size: 4rem;
  --heading-1-font-size: 2.5rem;
  --heading-2-font-size: 2rem;
  --heading-3-font-size: 1.75rem;
  --heading-4-font-size: 1.5rem;
  --heading-5-font-size: 1.25rem; 
  --paragraph-font-size: 1rem; 
}

/*utility class*/

.bg-dg{background:var(--dark-green);}
.bg-og{background:var(--olive-green);}
.bg-kg{background:var(--kelly-green);}
.bg-hg{background:var(--harvest-gold);}
.bg-pl{background:var(--platinum);}
.bg-nb{background:var(--night-black);}
.bg-be{background:var(--beige);}

.c-dg{color:var(--dark-green);}
.c-og{color:var(--olive-green);}
.c-kg{color:var(--kelly-green);}
.c-hg{color:var(--harvest-gold);}
.c-pl{color:var(--platinum);}
.c-nb{color:var(--night-black);}
.c-be{color:var(--beige);}

.cap{text-transform: capitalize;}
.uc{text-transform: uppercase;}
.lc{text-transform: lowercase;}

.lw{font-weight:var(--light-font-weight);}
.rw{font-weight:var(--regular-font-weight);}
.bw{font-weight:var(--bold-font-weight);}

.lex{font-family: 'Lexend', sans-serif;}

.title{font-size: var(--title-font-size);}
.h1, h1{font-size: var(--heading-1-font-size);}
.h2, h2{font-size: var(--heading-2-font-size);}
.h3, h3{font-size: var(--heading-3-font-size);}
.h4, h4{font-size: var(--heading-4-font-size);}
.h5, h5{font-size: var(--heading-5-font-size);}
.p, p{font-size: var(--paragraph-font-size);}


.ls-01{letter-spacing: 0.1rem;}
.ws-03{word-spacing: 0.3rem;}


/*Responsive */
.container{
  margin: 0 100px;
}

/* min-width: 320px and max-width: 639px */
@media (max-width: 640px) {
  *{
    font-size: 10px;
  }
  .container {
    margin: 0 20px;
  }
}

/* min-width: 640px and max-width: 959px */
@media (min-width: 641px) and (max-width: 960px) {
  *{
    font-size: 12px;
  }
  .container {
    margin: 0 30px;
  }
}

/* min-width: 960px and max-width: 1279px */
@media (min-width: 961px) and (max-width: 1280px) {
  *{
    font-size: 14px;
  }
  .container {
    margin: 0 50px;
  }
}

/* min-width: 1280px and max-width: 10000px (a large value to cover all widths above 1280px) */
@media (min-width: 1280px){
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
}